<div class="place-holder col-lg-4 col-md-4 col-sm-3 col-xs-2"></div>
<div class="center-locator col-lg-4 col-md-4 col-sm-6 col-xs-8">
    <br class="clear" />
    <h1 class="name" >Osbert Ngok</h1>
    <ul class="links homepage-links">
        <li>
            <a ui-sref="bio.oneliner" title="One-liner Biography">Bio</a>
        </li>
        <li>
            <a href="/blog" title="Blog">Blog</a>
        </li>
        <li>
            <a ui-sref="music.songlist" title="Music">Music</a>
        </li>
        <li>
            <a>About</a>
        </li>
    </ul>
    <div class="social">
        <ul class="links social-links">
            <li>
                <a href="https://github.com/osbertngok/" title="Github Page"><i class="fa fa-github"></i></a>
            </li>
            <li>
                <a href="https://www.facebook.com/osbertngok/" title="Facebook Page"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
                <a href="http://weibo.com/osbertngok/" title="Weibo Page"><i class="fa fa-weibo"></i></a>
            </li>
        </ul>
    </div>
</div>
<div class="place-holder col-lg-4 col-md-4 col-sm-3 col-xs-2"></div>