<br class="clear" />
<h1 class="name">Osbert Ngok</h1>
<p>
    is an automation advocate, web developer, productivity and gamification enthusiast, amateur pianist, guitarist, and composer.
</p>
<div class="bio-navigation">
    <ul class="links bio-links row">
        <li class="col-xs-3 text-align-left">
            <a ui-sref="home" title="Home Page"><i class="fa fa-chevron-left"></i></a>
        </li>
        <li class="col-xs-6">&nbsp;</li>
        <li class="col-xs-3 text-align-right">
            <a ui-sref="bio.multiline" title="Multiple Lines Biography"><i class="fa fa-battery-half"></i></a>
        </li>
    </ul>
</div>
