<br class="clear" />
<h1 class="name">Osbert Ngok</h1>
<p>
    is a full stack developer at <a href="http://messerfs.com/">Messer Financial Software</a> focusing on front-end development. He specialized in canvas-based rich feature spreadsheet JavaScript development and continuous integration. 
</p>
<p>
    In his personal life he is also interested in productivity and long-term goal management. Since 2007 he has written a dozen of Personal Information Management (PIM) systems to assist users to review and improve their life, so they can get closer to who they want themselves to be.
</p>
<p>
    He is an amateur pianist and guitarist. In addition to do actual composition by himself, he also delegates the job to programs. In 2011 he partnered with <a href="http://physbam.stanford.edu/~yuey/">Yu Yue</a> to develop an algorithm to <a href="/blog/2011/05/01/automated-music-composition/">compose fugues</a>.
</p>
<div class="bio-navigation">
    <ul class="links bio-links row">
        <li class="col-xs-3 text-align-left">
            <a ui-sref="home" title="Home Page"><i class="fa fa-chevron-left"></i></a>
        </li>
        <li class="col-xs-3">&nbsp;</li>
        <li class="col-xs-3 text-align-left">
            <a ui-sref="bio.oneliner" title="One Line Biography"><i class="fa fa-battery-quarter"></i></a>
        </li>
        <li class="col-xs-3 text-align-right">
            <a ui-sref="bio.full" title="Full Biography"><i class="fa fa-battery-full"></i></a>
        </li>
    </ul>
</div>
